
/**
*
Estilos Gráficos
Barra Meta Navegación para servicios digitales e[ad]
*
*/


/*-----------Estilos Gráficos------------*/

body{
	margin:0 auto;
    }

.metabarra{
	font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
	height: 38px;
	margin: 0 auto;
	padding: 0;
	background-color: rgba(25, 26, 25, 1);
	}

.metabarramovil{
	display: none;
	font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
	height: 38px;
	margin: 0 auto;
	padding: 0;
	background-color: rgba(25, 26, 25, 1);
	}

nav.web{
	margin: 0 auto;
	height: 38px;
	padding: 0;
	width: 1140px;
    }

ul.menuweb{
	margin: 0 auto;
	padding: 0;
	height: 38px;
    }

ul.menumovil{
    display: none;
	margin: 0 auto;
	padding: 0;
	height: 38px;			
	}

img.icono{
	margin: 0 auto;
	float: left;
	height: 15px;
	padding: 0px 7px;
    }

li.ead{
	margin: 0 auto;
	float: left;
	width: 70px;
	height: 38px;
	text-align: left;
	padding: 10px 0px 0px 0px;
    }

a.logoead{
	text-decoration: none;
	display: inline-block;
	height: 28px;
	margin: 0 auto;
	padding: 0;
	color: rgba(199, 81, 77, 1);
	font-size: 18px;
	font-weight: 500;
    }

a.logoead:hover{
	color: rgba(180, 81, 90, 10);
	font-size: 18px;
	font-weight: 500;
    }

li.sitioweb{
	width: auto;
	height: auto;
	float: left;
    list-style: none;
    text-align: center;
	display: inline-block;
    list-style-type: none;
    margin: 0 auto;
    padding: 13px 20px 0px 20px;
    list-style-type: none;
    }

a.sitio{
	text-decoration: none;
	display: inline-block;
	height: 25px;
    margin: 0 auto;
    padding: 0;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 300;
    }

a.sitio:hover{
	color: rgba(193, 194, 194, 1);
    }

a.active{
	background-image: url(img/arrow.gif);
	background-repeat: no-repeat;
	background-position: 50% 98%;
	background-size: 18px;
    }

li.buscador{
	float: right;
    list-style: none;
    text-align: right;
	display: inline;
    list-style-type: none;
    margin: 0 auto;
    padding: 0px 10px;
    height: 38px;
    list-style-type: none;
    vertical-align: middle;
    }

#search-form{
	float:left;
	margin-top: 0;
	height: 38px;
	padding: 0;
    }

input[type="search"]{
	display: inline-block;
    background: rgba(69, 71, 71, 0.7);
    width: 220px;
    font-size: 12px;
    font-weight: 100;
    color: rgba(255, 255, 255, 1);
    height: auto;
    margin: 0 auto;
    padding: 10px 10px;
    outline: none;
    border: none;
    }

input[type="search"]:focus{
	outline: none;
    }

button{
	display: inline-block;
	height: 38px;
    margin: 0 auto;
    background-color: rgba(25, 26, 25, 1);
    padding: 0;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    border: none;
    outline: none;
    }

button:hover{
	background-color: rgba(199, 81, 77, 1);
    }

li.separador{
	float: right;
	color: rgba(255, 255, 255, 1);
	padding: 13px 0;
	height: 26;
	margin:0;
    }

span.linea{
	margin: 0 auto;
    padding: 0;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 300;
    }

li.iniciarsesion{
	float: right;
    list-style: none;
    text-align: right;
	display: inline;
    list-style-type: none;
    display: inline;
    margin: 0 auto;
    height: 14px;
    padding: 13px 10px;
    list-style-type: none;
    vertical-align: middle;
    }


			/*Pantalla mediana*/

			@media screen and (min-width: 992px) and (max-width: 1199px){

			nav.web{
				margin: 0 auto;
				height: 38px;
				padding: 0;
				width: 952px;
			    }

			}

								/*Pantalla pequeña*/

								@media screen and (min-width: 768px) and (max-width: 991px){

									nav.web{
										margin: 0 auto;
										height: 38px;
										padding: 0;
										width: 728px;
									    }

									input[type="search"]{
										display: none;
									    background: rgba(69, 71, 71, 0.7);
									    width: 220px;
									    border: none;
									    font-size: 12px;
									    font-weight: 100;
									    color: rgba(255, 255, 255, 1);
									    height: auto;
									    margin: 0 auto;
									    padding: 10px 10px;
									    }


								}


													/*Pantalla extra pequeña (Móvil)*/

													@media screen and (min-width: 5px) and (max-width: 767px){


													}
nav {background:#FFF;float:left;}
nav ul {text-align:center;}
nav ul li {float:left;display:inline;}
nav ul li:hover {background:#E6E6E6;}
nav ul li a {display:block;padding:15px 25px;color:#444;}
nav ul li ul {position:absolute;width:110px;background:#FFF;}
nav ul li ul li {width:110px;}
nav ul li ul li a {display:block;padding:15px 10px;color:#444;}
nav ul li ul li:hover a {background:#F7F7F7;}
nav ul li ul.fallback {display:none;}
nav ul li:hover ul.fallback {display:block;}
	
/**
*
Estilos Gráficos
Barra Meta Navegación para servicios digitales e[ad]
*
*/


border:1px solid white;
   