/*

Barra de Meta Navegación para los servicios digitales de la e[ad]

*/

//Colores
@negro: 				rgba(25, 26, 25, 1);
@gris:                  rgba(69, 71, 71, 1);
@blanco: 				rgba(255, 255, 255, 1);
@rojo:					rgba(172, 70, 67, 1);
@rojo-claro: 			rgba(199, 81, 77, 1);

//Tipografía
@sans:        			'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans;

//Dimensiones
@barra:   		38px;


/*--------------------------------Barra de Meta Navegación--------------------------------*/

* { 
	box-sizing: border-box; 
	}

*:before, *:after { 
	box-sizing: border-box; 
	}

body{ 
	margin: 0 auto; 
	}

.metabarramovil{ 
	display:none; 
	}

.metabarra {
	margin: 0 auto;
	padding: 0;
	font-family: @sans;
    width: 100%;
	background-color: @negro;

	nav.web{

		ul.menuweb{
			margin: 0 auto;
			padding: 0px 20px 0px 20px;
			max-width: 100%;
			font-size: 14px;
			height: @barra;

			li{
				float: left;
				list-style: none;
				display: inline;
				margin: 0 auto;
				padding: 0;
				position: relative;
				height: @barra;
				text-align: center;

		    	&.ead_bar{
					width: auto;
					} 

				&.ead_bar_derecha{
					width: auto;
					float: right;
					}

				&.ead-bar-dropdown ul.fallback{
					list-style-position: inside; 
					position: absolute;
					padding: 8px 0px;
					margin: 0 auto;
					background: fade(@negro, 15%);
					list-style-type: none;
					box-shadow: 1px;
					z-index:10000;
					height: auto;
					width: 100%;
					box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
					border-top: none;
					border-bottom: 1px solid fade(@gris, 7%);
					border-left: 1px solid fade(@gris, 7%);
					border-right: 1px solid fade(@gris, 7%);


					li.menu-dropdown{
						display: block;
						position: relative;
					    list-style-type: none;
					    margin: 0 auto;
					    width: 100%;
					    height: auto;
					    padding: 0;
					    text-align: left;

						a.link-dropdown{
						  	color: @negro;
						    display: block;
							font-weight: 300;
							padding: 8px 0px 8px 20px;
							width: auto;
							height: auto;

							&:hover{ 
								background-color: fade(@negro, 10%);
								color: @rojo; 
								}

							}
					}
				}

		    a{
		    	text-decoration: none;
				display: inline-block;
				transition: .2s all ease;
				height: @barra;
				color: fade(@blanco, 90%);
				font-weight: 300;

				&.link{
					padding: 10px 20px 0px 40px;
					}

				&.iniciarsesion{ 
					padding: 10px 20px 0px 40px;

					&:hover{ background-color: fade(@blanco, 10%); }

					}

				&.usuario{
					padding: 10px 35px 0px 25px;
					background-image: url("../../../img/dropdown-arrow-inactive.gif");
					background-repeat: no-repeat;
					background-position: top 30px right 15px;
					background-size: 18px; 

					&:focus{
					background-image: url("../../../img/dropdown-arrow-active.gif");
					background-repeat: no-repeat;
					background-position: top 30px right 15px;
					background-size: 18px;
					}

					}

				&.logoead{
					padding: 6px 20px 0px 20px;
					color: @rojo-claro;
					font-size: 18px;
					font-weight: 500;
				    }

				&.active{
					background-image: url("https://s3.amazonaws.com/Ead/ead_bar_images/arrow.gif");
					background-repeat: no-repeat;
					background-position: 50% 100%;
					background-size: 18px;
				    }

				&:hover{ background-color: fade(@blanco, 10%); }

		    }

		    span.linea{
				display: none;
				color: @blanco;
				padding: 6px 5px 0px 0px;
				height: @barra;
				font-size: 17px;
				font-weight: 100;
				}

			img{
				position: absolute; 
				display: block;

				&.icono{
					top: 5px;
					left: 16px;
					right: 0px;
					}

				&.usuario{
					top: 4px;
					left: 16px;
					right: 0px;
					}

				&.flecha-usuario{
					top: 19px;
					right: 20px;
					width: 9px;
					}
			}

		    #ead_bar_form{
				float: left;
				margin-top: 0;
				height: @barra;
				padding: 0px 10px 0px 0px;
				width: 160px;
			    }

		    input[type='text']{
		    	display: inline-block;
			    background: fade(@blanco, 10%);
				width: 100%;
			    border: none;
			    font-size: 12px;
			    font-weight: 100;
			    vertical-align: middle;
			    border-radius: 0;
			    color: @blanco;
			    height: @barra;
			    margin: 0 auto;
			    padding: 12px 10px 11px 10px;
			    box-sizing: border-box;
			    

			    &:focus{
			    	padding: 12px 10px 11px 30px;
			    	background-color: fade(@blanco, 50%);
					border: none;
					outline: none;
					color: @gris;
					background-image: url('https://s3.amazonaws.com/Ead/ead_bar_images/icon-busqueda.gif');
					background-position: left;
					background-repeat: no-repeat;
				    }

		        }

		    button.buscar{
		    	display: none;
				width: 45px;
				float: right;
				height: @barra;
				margin: 0px 5px 0px 0px;
				padding: 0;
				cursor: pointer;
				border: none;
				outline: none;
				background-color: @negro;
				background-image: url("../../../img/icon-busqueda-movil.png");
				background-size: 25px;
				background-position: center;
				background-repeat: no-repeat; 

				&:hover, &:active{ background-color: fade(@blanco, 10%); }

			}

			}
		}
	}
}


/*Responsive*/

/*--------------------------------Pantalla Mediana--------------------------------*/


@media screen and (min-width: 992px) and (max-width: 1199px){

.metabarra {

	nav.web{
		
		ul.menuweb{
			max-width: 1199px;
	    	}

    }
}
}

/*--------------------------------Pantalla pequeña--------------------------------*/


@media screen and (min-width: 768px) and (max-width: 991px){

.metabarra {

	nav.web{
					
		ul.menuweb{
			padding: 0px 15px 0px 15px;
			max-width: 991px;
			font-size: 13px;

			li{

				&.ead-bar-dropdown ul.fallback{

					li.menu-dropdown{

						a.link-dropdown{ padding: 8px 0px 8px 18px; }
					}
				}

				a{
					&.link{ padding: 10px 15px 0px 35px; }

					&.iniciarsesion{ padding: 10px 15px 0px 35px; }

					&.usuario{
						padding: 10px 30px 0px 20px;
						background-position: top 30px right 10px;

						&:focus{ background-position: top 30px right 10px; }

						}

					&.logoead{
						padding: 6px 15px 0px 15px;
						font-size: 18px;
						}
				}

				span.linea{ display: inline-block;}

				img{

					&.icono{
						top: 4px;
						left: 11px;
						}

					&.usuario{
						top: 3px;
						left: 11px;
						}

					&.flecha-usuario{
						top: 18px;
						right: 15px;
						width: 9px;
						}
				}

				#ead_bar_form{ display: none; }

				button.buscar{ display: block; }
			}
		}				
	}
}
}

/*--------------------------------Pantalla extra pequeña (Móvil)--------------------------------*/


@media screen and (min-width: 200px) and (max-width: 767px){
 							
.metabarra {
	display: none;
	}

.metabarramovil{
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	font-family: @sans;
	width: 100%;
	background-color: @negro;

	nav.movil{

		ul.desplegable{
			list-style-position: inside; 
			position: absolute;
			padding: 8px 0px;
			margin: 0 auto;
			font-size: 14px;
			background: fade(@negro, 10%);
			list-style-type: none;
			z-index:10000;
			height: auto;
			width: 100%;
			border-top: none;
			box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
			border-bottom: 1px solid fade(@gris, 7%);
			border-left: 1px solid fade(@gris, 7%);
			border-right: 1px solid fade(@gris, 7%);

				li.menu-toggle{
					position: relative;
					list-style-type: none;
					margin: 0 auto;
					width: 100%;
					padding: 0;
					text-align: left;

						a.link-toggle{
							display: block;
							text-decoration: none;
							color: @negro;
							font-weight: 300;
							padding: 8px 0px 8px 35px;
							width: 100%;
							height: 100%;

							&:hover{ 
								background-color: fade(@negro, 10%);
								color: @rojo; 
								}

							}
				}
			}

		ul.menumovil{
			margin: 0 auto;
			padding: 0px 10px 0px 10px;
			max-width: 767px;
			font-size: 13px;
			height: @barra;

			li{
				float: left;
				list-style: none;
				display: inline;
				margin: 0 auto;
				padding: 0;
				position: relative;
				height: @barra;
				text-align: center;

				&.ead_bar{
					width: auto;
					} 

				&.ead_bar_derecha{
					width: auto;
					float: right;
					}

				a{
					text-decoration: none;
					display: inline-block;
					transition: .2s all ease;
					height: @barra;
					color: fade(@blanco, 90%);
					font-weight: 300;

					&.link{
						padding: 10px 25px 0px 25px;
						}

					&.iniciarsesion{ 
						padding: 10px 15px 0px 35px;
						}

					&.usuario{
						padding: 10px 30px 0px 20px;
						background-image: url("../../../img/dropdown-arrow-inactive.gif");
						background-repeat: no-repeat;
						background-position: top 30px right 10px;
						background-size: 18px; 

						&:focus{
							background-image: url("../../../img/dropdown-arrow-active.gif");
							background-repeat: no-repeat;
							background-position: top 30px right 10px;
							background-size: 18px;
							}

					}

					&.active{
						background-image: url("https://s3.amazonaws.com/Ead/ead_bar_images/arrow.gif");
						background-repeat: no-repeat;
						background-position: 50% 100%;
						background-size: 18px;
						}

					&:hover{ background-color: fade(@blanco, 10%); }

				}

				span.linea{
					display: inline-block;
					color: @blanco;
					padding: 6px 5px 0px 0px;
					height: @barra;
					font-size: 17px;
					font-weight: 100;
					}

				img{
					position: absolute;
					display: block;

					&.icono{
						top: 3px;
						left: 11px;
						}

					&.usuario{
						top: 3px;
						left: 11px;
						}

					&.flecha-usuario{
						top: 18px;
						right: 15px;
						width: 9px;
						}
				}

				button.buscar{ 
					display: block;
					width: 45px;
					float: right;
					height: @barra;
					margin: 0px 5px 0px 0px;
					padding: 0;
					cursor: pointer;
					border: none;
					outline: none;
					background-color: @negro;
					background-image: url("../../../img/icon-busqueda-movil.png");
					background-size: 25px;
					background-position: center;
					background-repeat: no-repeat; 

					&:hover, &:active{ background-color: fade(@blanco, 10%); }

					}							
			}
		}
	}
}
}