/*

Barra de Meta Navegación para los servicios digitales de la e[ad]

*/

//Colores
@negro: 				rgba(25, 26, 25, 1);
@gris:                  rgba(69, 71, 71, 1);
@blanco: 				rgba(255, 255, 255, 1);
@rojo-claro: 			rgba(199, 81, 77, 1);

//Tipografía
@sans:        			'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans;

//Dimensiones
@barra:   		38px;


/*--------------------------------Barra de Meta Navegación--------------------------------*/

* {
    box-sizing: border-box;
	}

*:before, *:after {
    box-sizing: border-box;
	}

body{
	margin: 0 auto;
    }

.metabarramovil{
	display:none;
    }

.metabarra {
	margin: 0 auto;
	padding: 0;
	font-family: @sans;
    width: 100%;
	background-color: @negro;

	nav.web{

		ul.menuweb{
			margin: 0 auto;
			padding: 0px 20px 0px 20px;
			max-width: 100%;
			font-size: 14px;
			height: @barra;

			li{
				float: left;
				list-style: none;
				display: inline;
				margin: 0 auto;
				padding: 0;
				position: relative;
				height: @barra;
				text-align: center;

		    	&.ead_bar{
					width: auto;
					} 

				&.ead_bar_derecha{
					width: auto;
					float: right;
					}

				&.ead-bar-dropdown ul {   
				    list-style-position: inside; 
					position: absolute; 
					background: @negro;
					list-style-type: none;

					li{
						width: 110px; 
						padding-top: 5px; 
						padding-left: 1px; 
						padding-bottom: 5px;
					    list-style-type: none;

						a{
							display: block; 
							color: fade(@blanco, 90%);
							padding: 0;
							}
					}
				}

				&.ead-bar-dropdown ul.fallback{
					padding-top: 5px; 
					list-style-type: none;
					z-index:10000;

					&:hover{
						display: block; 
						list-style-type: none;
						}

				}

		    a{
		    	text-decoration: none;
				display: inline-block;
				transition: .2s all ease;
				height: @barra;
				color: fade(@blanco, 90%);

				&.link{
					padding: 10px 20px 0px 40px;
					font-weight: 300;
					}

				&.iniciarsesion{ 
					padding: 10px 20px 0px 40px; 
					background-image: url("../../../img/icon-userarrow.gif");
					background-repeat: no-repeat;
					background-position: 94% 53%;
					background-size: 11px;
					}

				&.logoead{
					padding: 6px 20px 0px 20px;
					color: @rojo-claro;
					font-size: 18px;
					font-weight: 500;
				    }

				&.active{
					background-image: url("https://s3.amazonaws.com/Ead/ead_bar_images/arrow.gif");
					background-repeat: no-repeat;
					background-position: 50% 100%;
					background-size: 18px;
				    }

				&:hover{ background-color: fade(@blanco, 10%); }

		    }

		    img.icono{
		    	display: block;
		    	position: absolute;
				top: 5px;
				left: 16px;
				right: 0px;
		    	}

		    #ead_bar_form{
				float: left;
				margin-top: 0;
				height: @barra;
				padding: 0px 10px 0px 0px;
				width: 180px;
			    }

		    input[type='text']{
		    	display: inline-block;
			    background: fade(@blanco, 15%);
				width: 100%;
			    border: none;
			    font-size: 12px;
			    font-weight: 100;
			    vertical-align: middle;
			    border-radius: 0;
			    color: @blanco;
			    height: @barra;
			    margin: 0 auto;
			    padding: 12px 10px 11px 10px;
			    box-sizing: border-box;
			    

			    &:focus{
			    	padding: 12px 10px 11px 30px;
			    	background-color: fade(@blanco, 50%);
					border: none;
					outline: none;
					color: @gris;
					background-image: url('https://s3.amazonaws.com/Ead/ead_bar_images/icon-busqueda.gif');
					background-position: left;
					background-repeat: no-repeat;
				    }

		        }

		    button.buscar{
		    	display: none;
		    	width: 40px;
		    	float: right;
				height: @barra;
			    margin: 0px 10px 0px 0px;
			    padding: 0;
			    cursor: pointer;
			    border: none;
			    outline: none;
			    background-color: fade(@blanco, 50%);
			    background-image: url('https://s3.amazonaws.com/Ead/ead_bar_images/icon-busqueda.gif');
				background-position: center;
				background-repeat: no-repeat;

				&:hover{ background-color: fade(@blanco, 60%); }

				&:active{ background-color: fade(@blanco, 60%); }
			}

			}
		}
	}
}


/*Responsive*/

/*--------------------------------Pantalla Mediana--------------------------------*/


@media screen and (min-width: 992px) and (max-width: 1199px){

.metabarra {

	nav.web{
		
		ul.menuweb{
			max-width: 1199px;
	    	}

    }
}
}

/*--------------------------------Pantalla pequeña--------------------------------*/


@media screen and (min-width: 768px) and (max-width: 991px){

.metabarra {

	nav.web{
					
		ul.menuweb{
			padding: 0px 15px 0px 15px;
			max-width: 991px;
			font-size: 13px;

			li{

				a{
					&.link{ padding: 10px 15px 0px 35px; }

					&.iniciarsesion{ 
						padding: 10px 15px 0px 35px;
						background-repeat: no-repeat;
						background-position: 98% 53%;
						background-size: 10px; 
						}

					&.logoead{
						padding: 6px 15px 0px 15px;
						font-size: 18px;
						}
				}

				img.icono{
					top: 4px;
					left: 11px;
					}

				#ead_bar_form{
					display: none;
					}

				button.buscar{
					display: block;
					}
			}
		}				
	}
}
}

/*--------------------------------Pantalla extra pequeña (Móvil)--------------------------------*/


@media screen and (min-width: 200px) and (max-width: 767px){
 							
.metabarra {
	display: none;
	}

.metabarramovil{
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	font-family: @sans;
	width: 100%;
	background-color: @negro;

	nav.movil{

		ul.menumovil{
			margin: 0 auto;
			padding: 0px 10px 0px 10px;
			max-width: 767px;
			font-size: 13px;
			height: @barra;

			&.desplegable{

				li.ead_bar{
					list-style: none;
					display: inline;
					margin: 0 auto;
					padding: 0;
					position: relative;
					text-align: center;

					a.link{
						text-decoration: none;
						color: fade(@blanco, 90%);
						font-weight: 300;
						}
				}
			}

			li{
				float: left;
				list-style: none;
				display: inline;
				margin: 0 auto;
				padding: 0;
				position: relative;
				height: @barra;
				text-align: center;

				&.ead_bar{
					width: auto;
				} 

				&.ead_bar_derecha{
					width: auto;
					float: right;
				}

				&.ead-bar-dropdown ul {   
					list-style-position: inside; 
					position: absolute; 
					background: @negro;
					list-style-type: none;

					li{
						width: 110px; 
						padding-top: 5px; 
						padding-left: 1px; 
						padding-bottom: 5px;
						list-style-type: none;

						a{
							display: block; 
							color: fade(@blanco, 90%);
							padding: 0;
						}
					}
				}

				a{
					text-decoration: none;
					display: inline-block;
					transition: .2s all ease;
					height: @barra;

					&.link{
						padding: 10px 25px 0px 25px;
						color: fade(@blanco, 90%);
						font-weight: 300;
						}

					&.desplegable{
						margin: 0px 10px 0px 0px;
						}

					&.iniciarsesion{ 
						padding: 10px 15px 0px 35px;
						background-image: url("../../../img/icon-userarrow.gif");
						background-repeat: no-repeat;
						background-position: 98% 53%;
						background-size: 10px;
						}

					&.active{
						background-image: url("https://s3.amazonaws.com/Ead/ead_bar_images/arrow.gif");
						background-repeat: no-repeat;
						background-position: 50% 100%;
						background-size: 18px;
						}

					&:hover{ background-color: fade(@blanco, 10%); }

				}

				img.icono{
					display: block;
					position: absolute;
					top: 5px;
					left: 11px;
					}

				button.buscar{ 
					display: block;
					width: 40px;
					float: right;
					height: @barra;
					margin: 0px 10px 0px 0px;
					padding: 0;
					cursor: pointer;
					border: none;
					outline: none;
					background-color: fade(@blanco, 50%);
					background-image: url('https://s3.amazonaws.com/Ead/ead_bar_images/icon-busqueda.gif');
					background-position: center;
					background-repeat: no-repeat; 

					&:hover{ background-color: fade(@blanco, 60%); }

					&:active{ background-color: fade(@blanco, 60%); }

					}							
			}
		}
	}
}
}
