
/**
*
Estilos Gráficos
Barra Meta Navegación para servicios digitales e[ad]
*
*/

body{
	margin:0 auto;
    }

.metabarra{
	font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
	height: 38px;
	margin: 0 auto;
	padding: 0;
	background-color: rgba(25, 26, 25, 1);
	}

.metabarramovil{
	display: none;
	font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
	height: 38px;
	margin: 0 auto;
	padding: 0;
	background-color: rgba(25, 26, 25, 1);
	}

nav{
	margin: 0 auto;
	height: 38px;
	padding: 0;
	width: 1140px;
    }

ul.menudesktop{
	margin: 0 auto;
	padding: 0;
	height: 38px;
    }

ul.menumovil{
    display: none;
	margin: 0;
	padding: 0;
	height: 38px;			
	}

li.ead_bar{
	width: auto;
	height:38px;
	float: left;
   list-style: none;
   text-align: center;
	display: inline-block;
   list-style-type: none;
   margin: 0;
   padding: 10px 20px;
   list-style-type: none;
}

li.ead{
	width:70px;
	text-align: left;
	padding: 6px 0 0 0;
    }

li.separador{
	float: right;
	color: rgba(255, 255, 255, 1);
	padding: 10px 0;
	margin:0;
    }

li.iniciarsesion{
	float: right;
   list-style: none;
   text-align: right;
	display: inline;
   list-style-type: none;
   display: inline;
   margin: 0;
   padding: 10px 10px;
   list-style-type: none;
}

li.buscador{
	float: right;
    list-style: none;
    text-align: right;
	display: inline;
    list-style-type: none;
    margin: 0 auto;
    padding: 0px 10px;
    list-style-type: none;
    }

#search-form{
	float:left;
	margin-top: 0;
	height: 38px;
	padding: 0;
    }

input[type="search"]{
	display: inline-block;
    background: rgba(69, 71, 71, 0.7);
    width: 180px;
    border: none;
    font-size: 12px;
    font-weight: 100;
    color: rgba(255, 255, 255, 1);
    height: 10px;
    margin: 0 auto;
    padding: 10px 10px;

    }

input[type="search"]:focus{
	outline: none;
    }

button{
	display: inline-block;
	height: 38px;
    margin: 0 auto;
    background-color: rgba(25, 26, 25, 1);
    padding: 0;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    border: none;
    outline: none;
    }

button:hover{
	background-color: rgba(199, 81, 77, 1);
    }

.link{
	text-decoration: none;
	display: inline-block;
	height:38px;
    margin: 0 auto;
    padding: 0;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 300;
    }

.link a:hover{
	color: rgba(193, 194, 194, 1);
    }

a.logoead{
	color: rgba(199, 81, 77, 1);
	font-size: 18px;
	font-weight: 500;
    }

a.logoead:hover{
	color: rgba(199, 81, 77, 1);
	font-size: 18px;
	font-weight: 500;
    }

a.active{
	background-image: url("https://s3.amazonaws.com/Ead/ead_bar_images/arrow.gif");
	background-repeat: no-repeat;
	background-position: 50% 80%;
}

a.logoead-active:hover{
	color: rgba(180, 81, 90, 10);
   }

span{
	margin: 0 auto;
    padding: 0;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 300;
   }

img{
	margin:auto;
	float:left;
	height:15px;
	padding: 2px 7px;
   }


			/*Pantalla mediana*/

			@media screen and (min-width: 992px) and (max-width: 1199px){

			nav{
				margin: 0 auto;
				height: 38px;
				padding: 0;
				width: 952px;
			    }

			input[type="search"]{
				display: inline-block;
			    background: rgba(69, 71, 71, 0.7);
			    width: 160px;
			    border: none;
			    font-size: 12px;
			    font-weight: 100;
			    color: rgba(255, 255, 255, 1);
			    height: 38px;
			    margin: 0 auto;
			    padding: 10px 10px;
			    }

			}

								/*Pantalla pequeña*/

								@media screen and (min-width: 768px) and (max-width: 991px){

								.metabarra{
									display: none;
								    width: 100%;
									height: 38px;
									margin: 0 auto;
									padding: 0;
									background-color: rgba(25, 26, 25, 1);
									}

								.metabarramovil{
									display: inline-block;
								    width: 100%;
									height: 38px;
									margin: 0 auto;
									padding: 0;
									background-color: rgba(25, 26, 25, 1);
									}

							    nav.navmovil{
									margin: 0 auto;
									height: 38px;
									padding: 0;
									width: 728px;
								    }

							    ul.menumovil{
							    	display: inline-block;
							    	margin: 0 auto;
									padding: 0;
									height: 38px;		
								    }

								li.movil{
									width: auto;
									height:38px;
									float: left;
								    list-style: none;
								    text-align: center;
									display: inline-block;
								    list-style-type: none;
								    margin: 0;
								    padding: 10px 20px;
								    list-style-type: none;
								    border:1px solid white;
								    }

								ul.dropdown{
									display:none;
									}

							    li.movil:hover > ul.dropdown {
							    	display: inline-block;
							   	 	}

							   	li.eadmovil{
								width:70px;
								text-align: left;
								padding: 6px 0;
							    }

								}


													/*Pantalla extra pequeña (Móvil)*/

													@media screen and (min-width: 5px) and (max-width: 767px){

														nav{
															margin: 0 auto;
															height: 38px;
															padding: 0;
															width: 300px;
													    	}

													}

/** DropDown */
li.ead-bar-dropdown ul {position:absolute;width:50px;background:black;}
li.ead-bar-dropdown ul li a {display:block;color:#FFF;}
li.ead-bar-dropdown ul.fallback {display:none;}
li.ead-bar-dropdown:hover ul.fallback {display:block;}
	
/**
*
Estilos Gráficos
Barra Meta Navegación para servicios digitales e[ad]
*
*/   